body{
	background-image: url(https://img.freepik.com/free-photo/beige-abstract-wallpaper-background-image_53876-102527.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto Flex !important;
    color: #69626D !important;
}

.secondary{
	margin:auto;
	text-align: center;
	background-color: #F5DDDD !important;
	width: 80% !important ;

	padding: 20px;
}
.main{
	margin:auto;
	padding: 10px;
	background-color:#53687E; 
	max-width: 65% !important;
	box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
	text-align: center;
}
.btn-primary{
	background-color: #3A4454 !important;
	border: none !important;
}
.header{
	background-color:#3A4454 !important;
	color:white !important;
	margin: 0;
}
.btn-refresh{
	background-color: #F5DDDD  !important;
	border: none !important;
	outline: none;
}
a{
    color:#53687E !important;
    text-decoration: none !important;
}